:root {
  color-scheme: light;
  --color-primary: #409eff;
  --bg-color: #ffffff;
  --text-color-primary: #303133;
  --text-color-placeholder: #a8abb2;
  --text-color-disabled: #c0c4cc;
  --border-color: #dcdfe6;
  --fill-color: #f0f2f5;
  --fill-color-dark: #ebedf0;
  --mask-color: rgba(255, 255, 255, 0.9);
  --border: 1px solid var(--border-color);
}

html.dark {
  color-scheme: dark;
  --color-primary: #409eff;
  --bg-color: #141414;
  --text-color-primary: #e5eaf3;
  --text-color-placeholder: #8d9095;
  --text-color-disabled: #6c6e72;
  --border-color: #4c4d4f;
  --fill-color: #303030;
  --mask-color: rgba(0, 0, 0, 0.8);
}
